Flask==3.0.3
gunicorn==22.0.0

Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.30

Flask-Migrate==4.0.7
Flask-Cors==4.0.1

Flask-JWT-Extended==4.6.0

cloudinary==1.24.0
psycopg2-binary==2.9.9

python-dotenv==1.0.1
PyYAML==6.0.1
python-dateutil==2.9.0.post0

alembic==1.13.1

setuptools>=70.0.0
wheel